* { /* Calculating the size of boxes, resetting margin to 0 */
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    /* Colors */
    --main-background: #05061f;
    --text-color: #FFFFFF;

    /* Fonts */

    /* Miscellaneous */
    --rhythm: 2rem;
    font-size: 100%;
}

.col-1 div {
    grid-area: col-1;
}
.col-2 div {
    grid-area: col-2;
}
.col-3 div {
    grid-area: col-3;
}
.col-4 div {
    grid-area: col-4;
}

.signs div {
    width: 14vw;
    height: 14vw;
    position: relative;
}
.signs h2 {
    position: absolute;
    font: 2vw bold;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);
}

.signs img{
    width: 14vw;
    height: 14vw;
}

.signs {
    grid-area: signs;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'col-1 col-2 col-3 col-4',
    'col-1 col-2 col-3 col-4',
    'col-1 col-2 col-3 col-4',
    'col-1 col-2 col-3 col-4',
    'col-1 col-2 col-3 col-4';
    width: 56vw;
    float: left;
    margin-left: 2vw;
}

.formAndInfo {
    grid-area: form-and-info;
    display: flex;
    flex-direction: column;
    width: 38vw;
    margin-right: 2vw;
}
.formAndInfo h2 {
    text-align: center;
    margin-top: 1vw;
}
.formAndInfo img {
    display: block;
    width: 50%;
    margin: 0 auto 1vw auto;
}

header {
    text-align: center;
    padding: 0 0 1vw 0;
    background-color: black;
    color: #FFFFFF;
}

.help {
    display: flex;
    flex-direction: row-reverse;
}
.help img {
    width: 5vw;
    height: 5vw;
}

.help-info {
    display: none;
}

.help-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    background-color: #262d33;
    color: white;
    padding: 2.5vw;
    border-radius: 15%;
}

@media (width <= 1400px) {
    .help-info {
        top: 20%;
        transform: translate(-50%, -10%);
        width: 45vw;
    }
}

@media (width <= 1000px) {
    .help-info {
        top: 10%;
        transform: translate(-50%, -10%);
        width: 50vw;
    }
}

.help-info p {
    margin:  0 0 1rem 0;
}

#rules p {
    margin:  0 0 .5rem 0;
}

#rules p:first-child {
    font-weight: bold;
    margin:  0 0 .1rem 0;
}

#rules p:last-child {
    margin:  0 0 2rem 0;
}

